.body{
    background: $black;
}

.button{
    width:300px;
    height:150px;
    font-size:25px;
    font-family: Impact;
    background-color:$hotpink;
    color:$black;
    &:hover{

        background: $button-hover-color;
    }
    
}

       
