
$hotpink:hotpink;
$button-color:#40E0D0;
$primary-color:#fd2856;
$secondary-color:purple;
$black:black;
$button-hover-color:rgb(13, 255, 13);

@mixin button{
    width:300px;
    height:150px;
    background-color:$secondary-color;
    color:$black;
    font-size:30px ;
    font-family: impact;
    &:hover{
        background-color: $button-hover-color;
    }
}

.button{
    @include button()
}

@mixin colorChangingSquare{
    margin-top: 40px;
    width:200px;
    height:200px;
    background-color:$primary-color;
    transition-duration: 500ms;
    transition-property:background;
    &:hover{
        background-color:$secondary-color;
        
        
    }

}

.button{
@include colorChangingSquare();
}

.button{
    @include button;
}

.colorChangingSquare{
    @include colorChangingSquare();
}