
$font-stack:'Lobster',
cursive;
$color_simply_black: black;
$color_hotpink:rgb(255, 0, 119);
$color_puple-ish: rgb(55, 0, 255);
$color_blue: rgb(97, 135, 216);
$color_green: rgb(128, 179, 128);
$color_greenish: #4CAF50;