html, body{
margin:0;
padding:0;

}



nav h1 {
  
  color: beige;
}

ul li{
  list-style-type: none;
  margin-bottom: 15px;

}



ul li a{
  text-decoration: none;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
  display:flex;
  flex-direction:column;
  /* justify-content: center; */
  position:fixed;
  height:100%;
  width:250px;
  background-color:#4b86cb;
  margin-top:-20px ;
}

.members {
  width: 80%;
  height: 250px;
  padding: 30px;
  padding-top: 30px;
  margin-left: 350px;
}

h1 {
  text-align: center;
  color: #4b86cb;
  font-family: Impact;
  font-size: 20px;
  border-bottom:1px solid white;
  font-size: 25px;
}

.color-row {
  background: #a0aec0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.additional_container input[type='text'] {
  background-color: #c5deea;
  border-radius: 3px;
  border: transparent;
  margin-bottom: 0.5em;
  margin-right: 0.4em;
  
}

/* .additional_container span  {
  display: inline-block;
} */
.additional_container span label{
  display: block;
}

input[type='text' i] {
  padding: 1px 2px;
  
}

.additional_container {
  display:flex;
  justify-content: flex-start;
  border: 3px solid transparent;
  flex-wrap: wrap;
  margin-left:450px;
  width: 45%;
  text-align: left; 
  
}
